@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111318;
  font-family: "Poppins", sans-serif;
  font-size: large;
  letter-spacing: 0.3px;
}
span,
.primary-color {
  background-image: linear-gradient(to right, #ff4143, #f79138);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.secondary-color {
  background-image: linear-gradient(to right, #ff7d41, #ffaf6e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-image: linear-gradient(to right, #db4b1f, #a94b1c);
}

.button-color {
  background-image: linear-gradient(to right, #db734d, #dd936e);
}

.button-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

strong {
  color: #db4b1f;
}

div .bg-gray {
  background-color: #111318;
}

.vibrant-border {
  border-color: #ffb941;
}

.vibrant-text {
  color: #ffb941;
}

.icon-primary {
  color: #ffb941;
}
